body{
    /* background-color: #ffc5c5; */
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}
p{
    font-size: 1.5rem;
}
.question{
    height: 80px;
    width: 80px;
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 3rem;
}


h1{
    text-align: center;
    padding: 2rem 0 0rem 0;
    font-size: 3rem;
}
.button{
    padding: 10px 15px 10px 15px;
    width: 170px;
    border-radius: 10px;
    background-color: rgb(194, 59, 59);
    color: white;
    border: 1px solid white;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 3.4rem;
    height: 4rem;
}
.button:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(194, 59, 59);;
}

.button2{
    padding: 10px 15px 10px 15px;
    width: 170px;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(53, 197, 53);
    color: white;
    font-size: 1.5rem;
}

.button2:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(53, 197, 53);
}

input{
    padding: 13px 15px 16px 15px; 
    border-radius: 10px;
    font-size: 1.2rem;
    height: 2rem;
    width: 250px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.count{
   font-size: 2rem;
   padding-bottom: 2rem;
}

.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 110px;
}

@media(max-width: 280px), (max-width: 580px){
    p{
        font-size: 1rem;
    }
    .button2{
        width: 90px;
        font-size: 1.1rem;
        height: 2.6rem;
    }
    .button{
        width: 90px;
        font-size: 1.1rem;
        height: 2.6rem;
    }
    input{
        font-size: 1rem;
        height: 1.5rem;
        width: 140px;
        margin-left: 0.8rem;
    }
    h1{
        margin-left: 2rem;
        font-size: 2.5rem;
    }
    .count{
        font-size: 1rem;
        padding-bottom: 3rem;
        margin-left: 1.8rem;
    }    
    #score{
        font-size: 1.5rem;

    }
    .mid{
        padding-bottom: 2.5rem;
    }
}